<h1>Listing Channels</h1>

<table>
  <tr>
    <th></th>
    <th>Query</th>
  </tr>

<% @channels.each do |channel| %>
  <tr>
    <td>(<%= channel.count %>)</td>
    <td><%= link_to channel.query, channel_path(channel) %></td>
    <td>we could also list facets here, i.e. how many news per feed</td>
    <td><%= link_to 'edit saved search', edit_saved_search_path(channel) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Saved search', new_saved_search_path %>
