<h2>We currently have the following feeds</h2>



<% @feeds.each do |feed| %>
<div class="row">
	<div class="span9">
	<h3><%= feed.name %>&nbsp;<small><%= feed.url %></small></h3>
	</div>
	<div class="span3">
		<% if current_user %>
    		<%= link_to 'Add this Feed', add_feed_for_current_user_feed_path(feed) ,:class => 'btn btn-primary' %>		<% end %>
	</div>
</div>
<% end %>

<%= link_to 'New Feed', new_feed_path, :class => 'btn btn-primary' %>
