<h1>Articles</h1>
    <% @articles.each do |article| %>
      <div id="<%= article.name %>">
        <h2><%= article.name %> <small><%= link_to article.url, article.url %></small></h2>
        <%= raw article.summary  %>
	  </div>
    <% end %>