<div id="bottom-bar" class="navbar navbar-static">
	<div class="navbar-inner">
	    <div class="container" style="width: auto;">
			<ul class="nav pull-right">
				<li><%= link_to raw("<i class='icon-arrow-left'></i>&nbsp;<b>Go back to your Dashboard</b>"), :channels  %></li>
	        </ul>
		</div>
	</div>
</div>