/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
/*
 *= require bootstrap_and_overrides
 */

#login-form .bottom-10px, #new_user .bottom-10px{
	margin-bottom:10px;
	font-size: 15px;
	line-height: normal;
	padding:9px 14px;
	vertical-align: top;
}

#sign-up span{
	background-color: transparent;
	color: #333;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	height: 38px;
	line-height: 38px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 20px;
	margin-top: 0px;
	text-rendering: optimizelegibility;
	float:left;	
}
#sign-up form{
	margin-bottom:0px;
}

#home-slogan{
	padding:75px;
}
#home-slogan h1{
	font-size:69px;
}

#logged-in-button{
	margin-top:16px;
}

#go-home{
	color:#333;
	text-decoration:none;
}

#go-home:hover{
	color:#08C;
}

.article-actions {
	font-size:24px;
	color:#49AFCD;
	height: 29px;
	float:left;
}
.article-actions i{
	margin-right:10px;
	line-height:29px;
}