// Place all the styles related to the Channel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#search-articles{
padding:9px;
vertical-align:middle;
margin:0px;
margin-top:10px;
font-weight:bold; 
font-size:15px
}

.channel-overview{
margin-bottom:24px;
}

.channel-overview h3{
line-height:19px;
}

.channel-overview h4{
margin-bottom:12px;
}

.delete-channel, .edit-channel{
font-size:20px;
padding-top:3px;
margin-left:8px;
color:#787878;
}

.delete-channel:hover, .edit-channel:hover{
	text-decoration:none;
}

.modal-body label{
line-height:28px;
margin-right:10px;
float:left;
clear:left;
margin-top:10px;
margin-bottom:10px;
}
.modal-body input{
	margin-top:10px;
	margin-bottom:10px;
}