<!-- Main hero unit for a primary marketing message or call to action -->
    <div class="row"> 
		<div class="span8">
	<div id="home-slogan" class="hero-unit well">
       <h1>rssYeah!</h1>
       <p>This is a free online rss feed aggregator that helps you stay informed about the latest work produced in your field.</p>
     </div>
	
	</div>
	<div class="span4 ">
		<% if !current_user %>
			<%= render 'form' %>
			<div id="sign-up" class="well">
			<span>New to rssYeah ? </span>
			<%= button_to "Sign up now", 'users/new', :method => "get", :class => "btn btn-large btn-warning" %>
			</div>
		<% end %>
	</div>
	</div>
     <!-- Example row of columns -->
     <div class="row">
       <div class="span4">
         <h2>Smart categories</h2>
           <p>Smart categories helps you filter the content of all your feeds in one place. No more need to setup email alerts or create filters on each of your feeds. </p>
       </div>
       <div class="span4">
         <h2>Feed Directory</h2>
          <p>No need to find the links to your favorite feeds anymore, they are most probably already here.</p>
      </div>
       <div class="span4">
         <h2>Feed improvements</h2>
         <p>We are adding missing information to the most popular feed articles so that you can decide faster whether it interests you or not.</p>
       </div>
     </div>